<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
          <h2><%= cocktail.name %></h2>
          <p> <%= link_to "Show",cocktail_path(cocktail) %> </p>
      </div>
    <% end %>
  </div>
</div>
