<div class="banner">
  <div class="banner-content">
    <h1>Turing Drinking</h1>
    <h2>Become Turing-completed drunk!</h2>
    <h3> <%= link_to 'Create new cocktail', new_cocktail_path, class: "btn btn-primary btn-lg" %> </h3>
  </div>
</div>

